<div class="shorten header">
  <div class="constrain">
    <h1>Simplify Your Links</h1>
      <div class="row">
        <div class="col-md-3 col-md-offset-4">
          <input type="text" id="inputUrl" class="form-control" placeholder="Your Original Url Here">
        </div>
        <button type="button" id="btnShorten" class="btn btn-default pull-left">
          Shorten Url
        </button>
      </div>
    </div>
  </div>
  <div class="constrain">
    <h1>Get Url Statistics</h1>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <input type="text" id="statisticsUrl" class="form-control" placeholder="Place Shorten URL here">
      </div>
      <button type="button" id="btnStatistics" class="btn btn-default pull-left">
        Get Statistics
      </button>
    </div>
  </div>
</div>

<%= render "url_modal" %>

<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "url_shortener" %>
<% end %>

